.header{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    background-color: #008080;
}
.header h1{
    color: white;
    font-size: 2rem;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.nav li{
    font-size: 1.25rem;
    margin-left: 1.25rem;
}

.nav a {
    text-decoration: none;
    color: #88dfdf;
  }
  
.nav a:hover,
.nav a:active,
.nav a.active {
    color: #e6fcfc;
  }